body {
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.table {
    display: grid;
    border: 1px solid;
    grid-template-columns: repeat(8, 1fr);
    width: 800px;
    height: 800px;
}

.box {
    background-color: #000;
    width: 100px;
    height: 100px;
}