body {
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.table {
    width: 960px;
    height: 800px;
}

.row:first-child {
    height: 50px;
}

.row {
    height: 750px;
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
}

.column {
    width: 100px;
    height: 750px;
    border: 1px solid black;
}